@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(209, 209, 215, 0.985);
	font-family: "Rethink Sans", sans-serif;
}

h1 {
	font-size: 2.25rem;
	color: #1e271f;
	padding-block: 0.8rem;
}

h2,
h3,
h4 {
	font-size: 1.75rem;
	color: #1e271f;
}

a {
	all: unset;
	cursor: pointer;
}

a:hover {
	color: #618264;
}

p,
a {
	font-size: 14px;
	color: #1e271f;
}

i {
	inline-size: 20px;
	color: #618264;
}

.resume {
	margin-block: 2rem;
	margin-inline: 2rem;
	background-color: rgba(150, 153, 158, 0.2);
	padding: 1rem;
	border-radius: 20px;
}

.intro {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	margin-block-end: 1rem;
}

.container {
	background-color: rgba(97, 130, 100, 0.2);
	color: rgb(42, 50, 73);
	padding: 1.25rem;
	display: flex;
	border-radius: 20px;
	align-items: flex-start;
	justify-content: flex-start;
}

.main-info {
	gap: 1rem;
	flex: 2;
}

.avatar {
	border-radius: 50%;
	filter: brightness(80%);
}

.contact-info {
	flex-flow: column;
	gap: 0.5rem;
	flex: 1;
}

.contact-info span {
	display: flex;
	align-items: center;
	gap: 1rem;
	color: rgb(42, 50, 73);
}

.timeline {
	flex-flow: column;
	gap: 0.75rem;
}

.timeline-blocks {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
}

.timeline-h {
	color: rgb(25, 24, 24);
	font-size: 15px;
}

.timeline-text {
	color: rgb(74, 74, 76);
	font-size: 13px;
}

.skills {
	flex-flow: column;
	gap: 0.75rem;
	margin-block-start: 1rem;
}

.skills-h {
	font-size: 18px;
	font-weight: 700;
	color: black;
	padding-block-start: 0.75rem;
}

.skills-block ul {
	list-style-type: none;
}

.skills-block ul li {
	display: flex;
	gap: 1rem;
	align-items: baseline;
}

strong {
	font-size: 15px;
	color: #618264;
}

.skills-block ul li p {
	font-size: 12px;
}

@media screen and (min-width: 968px) {
	.resume {
		inline-size: 800px;
		margin-inline: auto;
	}
}
